# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/11155111/
/broadcast/*/80002/
/broadcast/*/43113/
/broadcast/*/1287/
/broadcast/*/534351/
/broadcast/*/31337/
/broadcast/*/2039/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Other
img/
Structure.png
DATABASE.js
